h1 {
    text-align: center;
    color: red;
}

section {
    perspective: 800px;
}

div {
    width: 500px;
    height: 300px;
    /* border: 1px solid black; */
    margin: 50px auto;
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.side-a {
    background-color: lightcoral;
    z-index: 1;
}

.side-a img {
    height: 300px;
    width: 500px;
}

.side-b {
    background-color: palegoldenrod;
    transform: rotateY(180deg);
    padding: 20px;
}

.side-b h2 {
    text-align: center;
}

.side-a,
.side-b {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    backface-visibility: hidden;
}

.wrap {
    transition: 1s;
    transform-style: preserve-3d;
}

.wrap:hover {
    transform: rotateY(180deg);
}