* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #4361ee;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    width: 100vw;
    position: fixed;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
    width: 390px;
}

@media screen and (max-width:624px) {
    nav,
    ul {
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
}

.cards {
    width: 90vw;
    /* border: 1px solid #ccc; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#main-img {
    height: 60vh;
    width: 100vw;
    border: 1px solid black;
    background-color: cyan;
    background-image: url(https://images.unsplash.com/photo-1613425269135-fb9f19ae7be8?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDQyNXxibzhqUUtUYUUwWXx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-origin: center;
    /* border-image-width: ; */
}

article figure {
    width: 300px
    /* height: 200px; */
}

article figure img {
    width: 100%;
    height: 100%;
}

figcaption {
    text-align: center;
}

article h3 {
    font-size: 1.8rem;
    color: #168aad;
    font-family: 'Roboto', sans-serif;
}

article p {
    font-size: 1.4rem;
    color: #6930c3;
    font-family: 'Roboto', sans-serif;
}

article button {
    padding: 5px 30px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: blue;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 1s;
}

article button:hover {
    background-color: #ef233c;
    transform: scale(1.1);
    border: 1px solid #ccc;
}

article {
    transition: all 0.5s;
    box-shadow: 0px 2px 3px gray;
}

article:hover {
    transform: scale(1.08);
    cursor: pointer;
}